# Housing Days On Market - Data Preparation For Feature Selection

## Information

Housing related data sources were combined in the project SQLite database. The output CSV file is analyzed here. 

### Environment Information:

Environment used for coding is as follow:

Oracle VM VirtualBox running Ubuntu (guest) on Windows 10 (host).

Current conda install:

               platform : linux-64
          conda version : 4.2.13
       conda is private : False
      conda-env version : 4.2.13
    conda-build version : 1.20.0
         python version : 2.7.11.final.0
       requests version : 2.9.1
       default environment : /home/jonathan/anaconda2/envs/py35
       
       Python 3.5.2 :: Anaconda 4.1.1 (64-bit)

Package requirements:

dill : 0.2.5, numpy : 1.11.3, pandas : 0.18.1, matplotlib : 1.5.1, scipy : 0.18.1, seaborn : 0.7.1, scikit-image : 0.12.3, scikit-learn : 0.18.1

## Python Package(s) Used

In [1]:
import numpy as np
import pandas as pd

## Data and Methods

### Data Fetching

In [2]:
# Import data csv into dataframe
df = pd.read_csv('df_data_inspection_cleaning_output.csv')
df = df.drop('Unnamed: 0', axis = 1)

In [3]:
df.head()

,ListPrice2,ClosePrice2,Bedrooms,BathsFull,BathsHalf,Levels,Fireplaces,BasementY/N,Acres,YearBuilt,...,distance_public_school_mid_km,distance_public_school_special_ed_km,distance_public_school_ye_km,CloseDate_dt_year,CloseDate_dt_month,CloseDate_dt_day,ListDate_dt_year,ListDate_dt_month,ListDate_dt_day,ListPrice2_delta
0,269900,280000,3,2,0.0,3,0,1,0.082,1950,...,1.838891,7.304442,1.890599,2010,3,26,2010,3,16,-0.118838
1,255000,250000,2,2,1.0,2,1,0,0.000,1987,...,1.471097,5.693556,1.043636,2012,7,11,2012,5,31,-0.153386
2,299900,299900,1,1,0.0,1,0,0,0.000,1941,...,1.286464,6.918005,2.260644,2014,2,27,2014,2,15,-0.161353
3,245000,252000,1,1,0.0,1,0,0,0.000,1941,...,1.286464,6.918005,2.260644,2014,1,24,2014,1,8,-0.310248
4,250000,275000,1,1,0.0,1,0,0,0.000,1891,...,1.286464,6.918005,2.260644,2014,8,7,2014,8,2,-0.300308

### Data Preparation for Modelling

In [4]:
df_2 = df.copy()

In [5]:
# Drop DOMP column for target = CloseDate_dt_month.
#df_2 = df_2.drop('DOMP',axis=1)

# Drop TotalTaxes2 column.
#df_2 = df_2.drop('TotalTaxes2',axis=1)

# Drop ListPrice2_delta column for target = ListPrice2.
#df_2 = df_2.drop('ListPrice2_delta',axis=1)

# Drop CloseDate and ClosePrice columns (i.e. in-conjunction with ListDate columns
# informs DOMP directly) to reduce data leakage for modelling. Also ListDate_dt_year,
# since the data is already subset for the year, combined with predicting days on market,
# regardless of year.
df_2 = df_2.drop('CloseDate_dt_year',axis=1)
df_2 = df_2.drop('CloseDate_dt_month',axis=1)
df_2 = df_2.drop('CloseDate_dt_day',axis=1)
#df_2 = df_2.drop('ClosePrice2',axis=1)
df_2 = df_2.drop('ListDate_dt_year',axis=1)
#df_2 = df_2.drop('ListDate_dt_month',axis=1)
#df_2 = df_2.drop('ListDate_dt_day',axis=1)

# Drop Longitude and Latitude columns since we have geographic categorization with Zipcode.
df_2 = df_2.drop('PropertyLatitude',axis=1)
df_2 = df_2.drop('PropertyLongitude',axis=1)

# Drop mimiStatus column since we have mimi number column.
df_2 = df_2.drop('mimiStatus',axis=1)

# Drop FreddieMac5yrARM column since we have FreddieMac15yr column.
df_2 = df_2.drop('FreddieMac5yrARM',axis=1)

# Drop specific demographic columns. These are heavily coorelated with the SchoolDigger
# educational data.
df_2 = df_2.drop('PctHshldCar_2010_14',axis=1)
df_2 = df_2.drop('PctHshldPhone_2010_14',axis=1)
df_2 = df_2.drop('PctFamiliesOwnChildrenFH_2010_14',axis=1)
df_2 = df_2.drop('PctPoorChildren_2010_14',axis=1)
df_2 = df_2.drop('PctPoorElderly_2010_14',axis=1)
df_2 = df_2.drop('Pct16andOverEmployed_2010_14',axis=1)
df_2 = df_2.drop('Pct25andOverWoutHS_2010_14',axis=1)
df_2 = df_2.drop('PctForeignBorn_2010_14',axis=1)
df_2 = df_2.drop('PctPoorPersons_2010_14',axis=1)
df_2 = df_2.drop('PctUnemployed_2010_14',axis=1)

# Drop specific SchoolDigger educational columns.
# Have the StarRating (scale 0-5)
df_2 = df_2.drop('ES_AvgStandardScore',axis=1)
df_2 = df_2.drop('HS_AvgStandardScore',axis=1)
df_2 = df_2.drop('MS_AvgStandardScore',axis=1)
df_2 = df_2.drop('ES_Rank',axis=1)
df_2 = df_2.drop('HS_Rank',axis=1)
df_2 = df_2.drop('MS_Rank',axis=1)
# Parallel coordinates plot indicated not important
df_2 = df_2.drop('ES_IsCharter',axis=1)
df_2 = df_2.drop('ES_IsMagnet',axis=1)
df_2 = df_2.drop('ES_IsVirtual',axis=1)
df_2 = df_2.drop('ES_IsTitleI',axis=1)
df_2 = df_2.drop('HS_IsCharter',axis=1)
df_2 = df_2.drop('HS_IsMagnet',axis=1)
df_2 = df_2.drop('HS_IsVirtual',axis=1)
df_2 = df_2.drop('HS_IsTitleI',axis=1)
df_2 = df_2.drop('MS_IsCharter',axis=1)
df_2 = df_2.drop('MS_IsMagnet',axis=1)
df_2 = df_2.drop('MS_IsVirtual',axis=1)
df_2 = df_2.drop('MS_IsTitleI',axis=1)
# Have student-teacher ratio
df_2 = df_2.drop('ES_NumFTTeachers',axis=1)
df_2 = df_2.drop('ES_NumStudents',axis=1)
df_2 = df_2.drop('HS_NumFTTeachers',axis=1)
df_2 = df_2.drop('HS_NumStudents',axis=1)
df_2 = df_2.drop('MS_NumFTTeachers',axis=1)
df_2 = df_2.drop('MS_NumStudents',axis=1)

# Drop count columns since we have the distance columns. Keeping Grocery and Metro columns
# due to greater amount of consumer choice, compared to schools.
df_2 = df_2.drop('count_public_school_arts_center_km',axis=1)
df_2 = df_2.drop('count_cap_gain_school_km',axis=1)
#df_2 = df_2.drop('count_grocery_km',axis=1)
df_2 = df_2.drop('count_ind_school_km',axis=1)
#df_2 = df_2.drop('count_metro_bus_km',axis=1) 
#df_2 = df_2.drop('count_metro_station_km',axis=1)
df_2 = df_2.drop('count_public_school_edu_campus_km',axis=1)
df_2 = df_2.drop('count_public_school_elem_km',axis=1)
df_2 = df_2.drop('count_public_school_elem_specialized_km',axis=1)
df_2 = df_2.drop('count_public_school_high_km',axis=1)
df_2 = df_2.drop('count_public_school_high_specialized_km',axis=1)
df_2 = df_2.drop('count_public_school_mid_km',axis=1)
df_2 = df_2.drop('count_public_school_special_ed_km',axis=1)
df_2 = df_2.drop('count_public_school_ye_km',axis=1)

In [6]:
# Get dummies for specific features
df_zc = pd.get_dummies(df_2['Zip'],prefix='zip')
df_2 = pd.concat([df_2,df_zc], axis=1)
df_2 = df_2.drop('Zip', axis=1)

df_ltm = pd.get_dummies(df_2['ListDate_dt_month'],prefix='ldmonth')
df_2 = pd.concat([df_2,df_ltm], axis=1)
df_2 = df_2.drop('ListDate_dt_month', axis=1)

df_ltd = pd.get_dummies(df_2['ListDate_dt_day'],prefix='ldday')
df_2 = pd.concat([df_2,df_ltd], axis=1)
df_2 = df_2.drop('ListDate_dt_day', axis=1)

df_essr = pd.get_dummies(df_2['ES_SDStarRating'],prefix='ESSR')
df_2 = pd.concat([df_2,df_essr], axis=1)
df_2 = df_2.drop('ES_SDStarRating', axis=1)

df_hssr = pd.get_dummies(df_2['HS_SDStarRating'],prefix='HSSR')
df_2 = pd.concat([df_2,df_hssr], axis=1)
df_2 = df_2.drop('HS_SDStarRating', axis=1)

df_mssr = pd.get_dummies(df_2['MS_SDStarRating'],prefix='MSSR')
df_2 = pd.concat([df_2,df_mssr], axis=1)
df_2 = df_2.drop('MS_SDStarRating', axis=1)

In [7]:
# Convert mimiStatus back to str values and then get dummies
# df_2['mimiStatus'] = df_2['mimiStatus'].replace([0,1,2],['Weak','Elevated','In Range'], inplace=False)

# df_ms = pd.get_dummies(df_2['mimiStatus'],prefix='mimiStatus')
# df_2 = pd.concat([df_2,df_ms], axis=1)
# df_2 = df_2.drop('mimiStatus', axis=1)

In [8]:
df_2.head()

,ListPrice2,ClosePrice2,Bedrooms,BathsFull,BathsHalf,Levels,Fireplaces,BasementY/N,Acres,YearBuilt,...,HSSR_1.0,HSSR_2.0,HSSR_3.0,HSSR_4.0,MSSR_0.0,MSSR_1.0,MSSR_2.0,MSSR_3.0,MSSR_4.0,MSSR_5.0
0,269900,280000,3,2,0.0,3,0,1,0.082,1950,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,255000,250000,2,2,1.0,2,1,0,0.000,1987,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,299900,299900,1,1,0.0,1,0,0,0.000,1941,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,245000,252000,1,1,0.0,1,0,0,0.000,1941,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,250000,275000,1,1,0.0,1,0,0,0.000,1891,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [9]:
df_2.columns

Index(['ListPrice2', 'ClosePrice2', 'Bedrooms', 'BathsFull', 'BathsHalf',
       'Levels', 'Fireplaces', 'BasementY/N', 'Acres', 'YearBuilt',
       ...
       'HSSR_1.0', 'HSSR_2.0', 'HSSR_3.0', 'HSSR_4.0', 'MSSR_0.0', 'MSSR_1.0',
       'MSSR_2.0', 'MSSR_3.0', 'MSSR_4.0', 'MSSR_5.0'],
      dtype='object', length=125)

In [10]:
df_2.describe()

,ListPrice2,ClosePrice2,Bedrooms,BathsFull,BathsHalf,Levels,Fireplaces,BasementY/N,Acres,YearBuilt,...,HSSR_1.0,HSSR_2.0,HSSR_3.0,HSSR_4.0,MSSR_0.0,MSSR_1.0,MSSR_2.0,MSSR_3.0,MSSR_4.0,MSSR_5.0
count,1.372500e+04,1.372500e+04,13725.000000,13725.000000,13725.000000,13725.000000,13725.000000,13725.000000,13725.000000,13725.000000,...,13725.000000,13725.000000,13725.000000,13725.000000,13725.000000,13725.000000,13725.000000,13725.000000,13725.000000,13725.000000
mean,6.343952e+05,6.227699e+05,2.767650,1.973115,0.480000,2.398470,0.615665,0.543825,0.053930,1943.689035,...,0.231257,0.331075,0.076940,0.348051,0.060619,0.257559,0.170492,0.086339,0.212678,0.212313
std,6.706850e+05,6.278060e+05,1.431167,1.033435,0.601281,1.210977,0.944914,0.498094,0.081397,32.596375,...,0.421652,0.470617,0.266506,0.476370,0.238639,0.437306,0.376078,0.280874,0.409216,0.408960
min,1.490000e+04,1.600000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1776.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.890000e+05,2.814000e+05,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1922.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.650000e+05,4.600000e+05,3.000000,2.000000,0.000000,3.000000,0.000000,1.000000,0.037000,1939.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.800000e+05,7.785000e+05,4.000000,3.000000,1.000000,3.000000,1.000000,1.000000,0.077000,1962.000000,...,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,2.590000e+07,2.200000e+07,12.000000,11.000000,11.000000,16.000000,14.000000,1.000000,3.579000,2014.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
# Export dataframe to disk
df_2.to_csv('df_prep_for_feature_selection_output.csv')